<%= paginate @stays %>

<% @stays.each do |stay| %>
<div class="ohyeah-box col-xs-10 col-xs-offset-1">
	<h1><%= link_to stay.name, stay_path(stay) %></h1><br />
	<i><%= stay.address %></i><br /><br />
	<p><%= stay.description %></p><br />

	<% if stay.usermodel.present? %>
	<small><%= stay.usermodel.email %></small>
	<% end %>
</div>
<% end %>