<div class="ohyeah-box col-xs-8 col-xs-offset-2"
 <h1><%= @stay.name %></h1>
 <br/>
 <i><%= @stay.address %></i>
 <br/><br/>
 <p><%= @stay.description %></p>
 <div class="pull-right">
 	<% if current_usermodel && current_usermodel == @stay.usermodel %>
	<%= link_to 'Edit', edit_stay_path(@stay), :class => 'btn btn-warning' %>
	<% end %>
	<%= link_to 'Delete', stay_path(@stay), :method => :delete, :data => {:confirm => 'Are you sure you want to delete this?'}, :class => 'btn btn-warning' %>
 </div>
</div>